!!! 5
%html{:manifest => "/cache.manifest"}
	%head
		%title MUNI
		%link{:rel => "apple-touch-icon-precomposed", :href => "/apple-touch-icon-precomposed.png"}
		%link{:rel => "apple-touch-startup-image", :href => "/startup.png"}
		%meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
		
		%link{:rel => 'stylesheet', :href => 'css/app.css', :type => 'text/css'}
		%meta{:name => 'viewport', :content => 'initial-scale=1.0, user-scalable=no'}
		
		%script{:type => 'text/javascript', :src => 'js/jquery.min.js'}
		%script{:type => 'text/javascript', :src => 'js/jquery.tmpl.min.js'}
		%script{:type => 'text/javascript', :src => 'js/date.extensions.js'}
		%script{:type => 'text/javascript', :src => 'js/app.js'}
	%body
		=yield