!!! 5
%html
	%head
		%title MUNI
		%link{:rel => "apple-touch-icon-precomposed", :href => "/apple-touch-icon-precomposed.png"}
		%link{:rel => "apple-touch-startup-image", :href => "/startup.png"}
		%meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
		
		%link{:rel => 'stylesheet', :href => 'css/app.css', :type => 'text/css'}
		%meta{:name => 'viewport', :content => 'width=320; user-scalable=false'}
		
		%script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js'}
		%script{:type => 'text/javascript', :src => 'http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'}
		%script{:type => 'text/javascript', :src => 'js/date.extensions.js'}
		%script{:type => 'text/javascript', :src => 'js/app.js'}
	%body
		=yield