@import url(reset.css);
@import url(fonts.css);
body {
  font-size: 12px; }

#modules {
  width: 320px;
  margin: 0 auto;
  padding: 10px; }

@media screen and (min-width:620px) {
  body {
    font-size: 24px; }

  #modules {
    width: 640px;
    margin: 0 auto;
    padding: 20px; } }

body {
  background-color: #eff0e6;
  color: #544b40;
  font-family: MisoRegular, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0; }

.module {
  width: 100%; }

h2.module_title {
  font-family: MisoBold, Helvetica, Arial, sans-serif;
  font-size: 400%;
  border-bottom: 1px solid #544b40;
  margin: 0 0 0.25em 0; }

#muni {
  position: relative; }
  #muni ul {
    border-bottom: 1px solid #544b40;
    padding-bottom: 0.5em; }
  #muni li {
    clear: left;
    margin: 0 0 1em 0; }
  #muni h2.route {
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    width: 1.33em;
    height: 1.33em;
    background-color: #544b40;
    color: #eff0e6;
    line-height: 1.45;
    text-align: center;
    font-size: 300%;
    overflow: hidden;
    text-shadow: rgba(239, 240, 230, 0.6) 0.035em 0.035em 0.133em;
    float: left;
    margin: 0.166em 0.166em 0 0; }
  #muni .item-content {
    margin-left: 5em; }
  #muni .direction, #muni .stop {
    font-size: 110%;
    line-height: 1.4;
    display: inline; }
  #muni .direction:after {
    content: ' '; }
  #muni .predictions {
    font-size: 320%; }
  #muni .last_updated {
    position: absolute;
    top: 2.25em;
    right: 0; }
