@import url(reset.css);
@import url(fonts.css);
body {
  background-color: #eff0e6;
  color: #544b40;
  font-family: MisoRegular, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0; }

#modules {
  width: 430px;
  margin: 0 auto;
  padding: 20px; }

.module {
  width: 430px; }

h2.module_title {
  font-family: MisoBold, Helvetica, Arial, sans-serif;
  font-size: 72px;
  border-bottom: 1px solid #544b40;
  margin: 0 0 18px 0; }

#muni li {
  clear: left;
  margin: 0 0 18px 0; }

#muni h2.route {
  border-radius: 36px;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  width: 72px;
  height: 72px;
  background-color: #544b40;
  color: #eff0e6;
  line-height: 82.8px;
  text-align: center;
  font-size: 54px;
  overflow: hidden;
  text-shadow: rgba(239, 240, 230, 0.6) 3px 3px 7.2px;
  float: left;
  margin: 9px 9px 0 0; }

#muni .item-content {
  margin-left: 90px; }

#muni .direction, #muni .stop {
  font-size: 120%;
  line-height: 1.4;
  display: inline; }

#muni .direction:after {
  content: ' '; }

#muni .predictions {
  font-size: 57.6px; }

#muni .last_updated {
  border-top: 1px solid #544b40;
  padding-top: 9px;
  margin-top: 9px;
  font-size: 22.5px; }
