@import url(reset.css);
@import url(fonts.css);
body {
  background-color: #eff0e6;
  color: #544b40;
  font-size: 12px;
  font-family: MisoRegular, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0; }

#modules {
  width: 300px;
  margin: 0 auto;
  padding: 10px; }

.module {
  width: 300px; }

h2.module_title {
  font-family: MisoBold, Helvetica, Arial, sans-serif;
  font-size: 48px;
  border-bottom: 1px solid #544b40;
  margin: 0 0 12px 0; }

#muni {
  position: relative; }
  #muni ul {
    border-bottom: 1px solid #544b40;
    padding-bottom: 6px; }
  #muni li {
    clear: left;
    margin: 0 0 12px 0; }
  #muni h2.route {
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    width: 48px;
    height: 48px;
    background-color: #544b40;
    color: #eff0e6;
    line-height: 55.2px;
    text-align: center;
    font-size: 36px;
    overflow: hidden;
    text-shadow: rgba(239, 240, 230, 0.6) 1.263px 1.263px 4.8px;
    float: left;
    margin: 6px 6px 0 0; }
  #muni .item-content {
    margin-left: 60px; }
  #muni .direction, #muni .stop {
    font-size: 110%;
    line-height: 1.4;
    display: inline; }
  #muni .direction:after {
    content: ' '; }
  #muni .predictions {
    font-size: 38.4px; }
  #muni .last_updated {
    position: absolute;
    top: 27px;
    right: 0px;
    font-size: 12px; }
