$main_width: 300px;
$main_pad: 10px;
$color_bg: #EFF0E6;
$color_text: #544B40;
$font_text: MisoRegular,Helvetica,Arial,sans-serif;
$font_heading: MisoBold,Helvetica,Arial,sans-serif;

$size_base: 12px;
$size_heading: $size_base * 4;
$size_muni_bubble: $size_base * 4;

@import 'reset.css';
@import 'fonts.css';

@mixin rounded-corners($radius){
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

body {
	background-color:$color_bg;
	color:$color_text;
	font-size:$size_base;
	font-family:$font_text;
	margin:0 auto;
	padding:0;
}
#modules{
	width:$main_width;
	margin:0 auto;
	padding: $main_pad;
}
.module{
	width:$main_width;
}
h2.module_title{
	font-family:$font_heading;
	font-size: $size_heading;
	border-bottom:1px solid $color_text;
	margin:0 0 ($size_heading / 4) 0;
}
#muni {
	position:relative;
	
	ul{
		border-bottom:1px solid $color_text;
		padding-bottom:$size_base / 2;
	}
	
	li{
		clear:left;
		margin: 0 0 $size_base 0;
	}
	
	h2.route{
		@include rounded-corners($size_muni_bubble / 2);
		width:$size_muni_bubble;
		height:$size_muni_bubble;
		background-color:$color_text;
		color:$color_bg;
		line-height:$size_muni_bubble * 1.15;
		text-align:center;
		font-size:$size_muni_bubble * 0.75;
		overflow:hidden;
		text-shadow:transparentize($color_bg, 0.4) ($size_muni_bubble / 38) ($size_muni_bubble / 38) ($size_muni_bubble / 10);
		float:left;
		margin:($size_muni_bubble/8) ($size_muni_bubble / 8) 0 0;
	}
	
	.item-content{
		margin-left: $size_muni_bubble + $size_base;
	}
	
	.direction, .stop{
		font-size:110%;
		line-height:1.4;
		display:inline;
	}
	
	.direction:after{
		content:' ';
	}
	
	.predictions {
		font-size:$size_heading / 1.25;
	}
	
	.last_updated{
		position:absolute;
		top:$size_heading - $size_base - (0.75 * $size_base);
		right:0px;
		font-size:$size_base;
	}
}
