$main_width: 430px;
$main_pad: 20px;
$color_bg: #EFF0E6;
$color_text: #544B40;
$font_text: MisoRegular,Helvetica,Arial,sans-serif;
$font_heading: MisoBold,Helvetica,Arial,sans-serif;

$size_base: 18px;
$size_heading: $size_base * 4;
$size_muni_bubble: $size_base * 4;

@import 'reset.css';
@import 'fonts.css';

@mixin rounded-corners($radius){
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

body {
	background-color:$color_bg;
	color:$color_text;
	font-family:$font_text;
	margin:0 auto;
	padding:0;
}
#modules{
	width:$main_width;
	margin:0 auto;
	padding: $main_pad;
}
.module{
	width:$main_width;
}
h2.module_title{
	font-family:$font_heading;
	font-size: $size_heading;
	border-bottom:1px solid $color_text;
	margin:0 0 ($size_heading / 4) 0;
}
#muni li{
	clear:left;
	margin: 0 0 $size_base 0;
}
#muni h2.route{
	@include rounded-corners($size_muni_bubble / 2);
	width:$size_muni_bubble;
	height:$size_muni_bubble;
	background-color:$color_text;
	color:$color_bg;
	line-height:$size_muni_bubble * 1.15;
	text-align:center;
	font-size:$size_muni_bubble * 0.75;
	overflow:hidden;
	text-shadow:transparentize($color_bg, 0.4) ($size_muni_bubble / 24) ($size_muni_bubble / 24) ($size_muni_bubble / 10);
	float:left;
	margin:($size_muni_bubble/8) ($size_muni_bubble / 8) 0 0;
}
#muni .item-content{
	margin-left: $size_muni_bubble + $size_base;
}
#muni .direction, #muni .stop{
	font-size:120%;
	line-height:1.4;
	display:inline;
}
#muni .direction:after{
	content:' ';
}
#muni .predictions {
	font-size:$size_heading / 1.25;
}
#muni .last_updated{
	border-top:1px solid $color_text;
	padding-top:$size_base / 2;
	margin-top:$size_base / 2;
	font-size:$size_base * 1.25;
}