$color_bg: #EFF0E6;
$color_text: #544B40;
$font_text: MisoRegular,Helvetica,Arial,sans-serif;
$font_heading: MisoBold,Helvetica,Arial,sans-serif;

@import 'reset.css';
@import 'fonts.css';

body { font-size:12px; }
#modules{
	width:300px;
	margin:0 auto;
	padding: 10px;
}

@media screen and (min-width:620px){
	body { font-size:24px; }
	#modules{
		width:600px;
		margin:0 auto;
		padding: 20px;
	}
}


@mixin rounded-corners($radius){
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

body {
	background-color:$color_bg;
	color:$color_text;
	font-family:$font_text;
	margin:0 auto;
	padding:0;
}
.module{
	width:100%;
}
h2.module_title{
	font-family:$font_heading;
	font-size: 400%;
	border-bottom:1px solid $color_text;
	margin:0 0 0.25em 0;
}
#muni {
	position:relative;
	
	ul{
		border-bottom:1px solid $color_text;
		padding-bottom:0.5em;
	}
	
	li{
		clear:left;
		margin: 0 0 1em 0;
	}
	
	h2.route{
		@include rounded-corners(2em);
		width:1.33em;
		height:1.33em;
		background-color:$color_text;
		color:$color_bg;
		line-height:1.45;
		text-align:center;
		font-size:300%;
		overflow:hidden;
		text-shadow:transparentize($color_bg, 0.4) 0.035em 0.035em 0.133em;
		float:left;
		margin:0.166em 0.166em 0 0;
	}
	
	.item-content{
		margin-left: 5em;
	}
	
	.direction, .stop{
		font-size:110%;
		line-height:1.4;
		display:inline;
	}
	
	.direction:after{
		content:' ';
	}
	
	.predictions {
		font-size:320%;
	}
	
	.last_updated{
		position:absolute;
		top:2.25em;
		right:0;
		padding:0 0.25em 0 0;
		width:50%;
		text-align:right;
	}
}
